@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar */
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-thumb {
  @apply rounded-[10px] bg-primary;
}

::-webkit-scrollbar-track {
  @apply rounded-[10px];
  box-shadow: grey 0px 0px 5px inset;
}

.hide-scrollbar {
  @apply h-full overflow-scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  @apply hidden; /* Chrome, Safari, and Opera */
}

.carousel-custom-dots {
  @apply !flex justify-center items-center mt-2;
}

.carousel-custom-dots .slick-active button span {
  @apply w-5 mx-0 bg-primary;
}

.popular-cuisines .carousel-custom-dots .slick-active button span {
  @apply bg-secondary;
}

@layer components {
  .ui-container {
    @apply max-w-[1440px] px-2 sm:px-5 mx-auto;
  }
}
